*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
    height:100vh;
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
    font-family:'sans serif';
  }

  .sub-main {
    display: flex;
    justify-content: center;
    height: 430px;
    width: 25%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: white;
  }

  .login-wrapper{
    justify-content: center;
    padding:2px;
    margin:2px;
  }

  .login-wrapper h1{
    margin-bottom: 10px;
    color:rgb(13, 191, 96)
  }
  .form-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
  .form-content label{
    margin:6px 0px;
    text-align: left;
    font-size: 1rem;
  }

  .form-content input{
    margin-bottom:2px;
  }

  .btn-wrapper{
    justify-content: left;
  }
  .login-btn{
    padding:3px 40px;
    margin-left: 28px;
    margin-top: 7px;
    background: rgb(13, 191, 96);
    border-color: rgb(13, 191, 96);
    border-radius: 4px;
    box-shadow: #6d6d6e;
    text-align: center;
    color: #fff;
    text-shadow: #6d6d6e;
  }
  
  .img-container{
    align-content: center;
    padding: 2px;
    margin: 2px;
  }

  .img-container img{
    height:70px;
    width: 100px;
    border-radius: 50%;
  }

  .sub-main form p{
    margin-top: 20px;
  }
  .Info:nth-child(even) :hover{
      color:red;
  }
  @media only screen and (max-width:640px){
      .sub-main
      {
       width:50%;
      }
  
  } 