#main-assetStatus-container{
    height: 90vh;
    display: flex;
    background:  #e1e3eb;
    flex-direction: column;
    align-items: center;
    }
    
    #sub-assetStatus-container{
        margin:auto;
        background: #fff;
        width:450px;
        font-family: sans-serif;
        padding-left:120px;
    }
    
    #sub-assetStatus-container h1{
        font-size: 1.4rem;
        color:#285430;
        margin:3px 0;
        text-align: left;
    }
    
    #sub-assetStatus-container form{
        margin:20px;
        font-size: 0.8rem;
    }
    #sub-assetStatus-container form div{
        margin:5px 0;
    }
    
    #as-btn1{
        margin: 4px 2px;
        padding:2px 5px;
        background:  #4aa25b;
        color: #fff;
        border-color: #285430;
        border-radius: 5px;
    }
    
    #btn-div1{
        display: flex;
    }
    #back-btn1{
        margin:4px 4px;
        align-items: center;
        padding: 1px  5px;
        border-radius: 5px; 
        background: #fff;  
    }
     #back-btn1:hover{
         background: red;
         border-color:rgb(167, 41, 41);
     }
     #back-btn1 a{
         text-decoration: none;
         text-align: center;
     }
     #back-btn1 a:hover{
         color:#fff;
     }